.container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.logo-home {
  order: 2;
  width: 100px;
  height: 100px;
  margin-right: 29px;
}

.input-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 59%;
  order: 1;
}

input[type="text"] {
  flex-grow: 0.5;
  max-width: 29%;
  border: solid 1px var(--primary-color);
  padding: 9px;
  border-radius: 9px;
  margin-right: 3px;
}

button {
  height: 29px;
  order: 2;
  color: var(--primary-color);
  border-color: var(--primary-color);
  border-radius: 9px;
  cursor: pointer;
  transition: border-color 0.25s, color 0.25s, background-color 0.25s;
}

@media (max-width: 768px) {
  .input-button-wrapper {
    width: 100%;
  }
}